@font-face {
    font-family: 'Roboto Regular';
    src: url("../fonts/Roboto/Roboto-Regular.ttf")format('ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url("../fonts/Roboto/Roboto-Bold.ttf")format('ttf');
}

@font-face {
    font-family: 'Roboto ExtraBold';
    src: url("../fonts/Roboto/Roboto-ExtraBold.ttf")format('ttf');
}

@font-face {
    font-family: 'Roboto ExtraBoldItalic';
    src: url("../fonts/Roboto/Roboto-ExtraBoldItalic.ttf")format('ttf');
}

@font-face {
    font-family: 'Roboto Italic';

    src: url("../fonts/Roboto/Roboto-Italic.ttf")format('ttf');
}

@font-face {
    font-family: 'Roboto Light';
    src: url("../fonts/Roboto/Roboto-Light.ttf")format('ttf');
}

@font-face {
    font-family: 'Roboto LightItalic';
    src: url("../fonts/Roboto/Roboto-LightItalic.ttf")format('ttf');
}

@font-face {
    font-family: 'Roboto SemiBold';
    src: url("../fonts/Roboto/Roboto-SemiBold.ttf")format('ttf');
}

@font-face {
    font-family: 'Roboto SemiBoldItalic';
    src: url("../fonts/Roboto/Roboto-SemiBoldItalic.ttf")format('ttf');
}