/**
 * Put below your own bootstrap variables
 *
 * Bootstrap variables list: https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss
 * Set your own theme: https://pikock.github.io/bootstrap-magic/app/index.html#!/editor
 */
//Breakpoints
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 575px;


//colors
$grey :#495057;
$maroun : #872B2E;
$red : #C00000;
$white : #FFFFFF;

$font-regular : 'Roboto Regular';
$font-bold : 'Roboto Bold';